/* 
* IMPORTS
*/
@import url("./css/footer.css");
@import url("./css/header.css");
@import url("./css/produce.css");

/* 
* VARIABLES DEFINITION
*/
:root {
  --breakpoint-grid_columns: 1;
  --page-max-width: 225rem;
}

/* 
* GENERAL STYLES
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%; /* 10px / 16px = 0.625 */
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  line-height: 1.43;
  color: #222;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

/* display: grid;
    grid-auto-flow: row dense;
    grid-auto-rows: var(--breakpoint-grid_auto-rows, minmax(min-content,max-content) );
    grid-gap: var(--breakpoint-grid_row-gap,0) var(--breakpoint-grid_column-gap,0);
    grid-template-columns: var(--breakpoint-grid_column-template, repeat(var(--breakpoint-grid_columns,1),minmax(0,1fr)) );
} */

/* .grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
} 

.grid-center-v {
  align-items: center;
} */

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  /* padding-bottom: 0; */

  padding: 0;
  margin: 0;
  /* margin-left: 0; */
  /* gap: 1.4rem; */
}

.list-item {
  /* font-size: 1.8rem; */
  display: flex;
  gap: 1.4rem;
  align-items: center;
}

strong {
  font-weight: 500;
}

/* // $color-primary: #f59a83;
$color-primary: #f38e82;
$color-grad-1: #fbdb89;
$color-grad-2: #f48982;

$color-grey-light-1: #f9f5f3; // Light background
$color-grey-light-2: #f2efee; // Light lines
$color-grey-light-3: #d3c7c3; // Light text (placeholder)
$color-grey-dark-1: #615551; // Normal text
$color-grey-dark-2: #918581; // Lighter text

$gradient: linear-gradient(to right bottom, $color-grad-1, $color-grad-2);

$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em;  */

/* 
#7dd567
*/

/* h1,
h2,

h3,
h5,
h6 {
  margin: 3em 0 1em;
}

p,
ul,
ol {
  margin-bottom: 2em;
  color: #1d1d1d;
} */
